/* No specific styles needed for auth view anymore, everything is in base.css */
/* You can add specific overrides here if needed in the future. */

.hyperlink {
    -fx-text-fill: -primary-color;
    -fx-border-color: transparent;
}

.hyperlink:hover {
    -fx-underline: true;
}